<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SysInfoCrashReporterKey</key>
	<string>ccbbacd523074d99e60c57939f85a51b0adc5216</string>
	<key>bug_type</key>
	<string>195</string>
	<key>description</key>
	<string>Version=4
IncidentIdentifier=AD571980-A354-4521-85FA-6DF44E0BE51B
Date=2025-04-23;AP=22D82;BB=6.01.01;Machine=iPhone12,5
11:59:46 +0300 DST [clm] disconnect: duration=0;cause=kNoError;modemErr=17;rat=2
</string>
	<key>os_version</key>
	<string>iPhone OS 18.3.2 (22D82)</string>
	<key>system_ID</key>
	<string></string>
</dict>
</plist>
