<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SysInfoCrashReporterKey</key>
	<string>ccbbacd523074d99e60c57939f85a51b0adc5216</string>
	<key>bug_type</key>
	<string>195</string>
	<key>description</key>
	<string>Version=4
IncidentIdentifier=150CA0AE-6A99-4407-85DB-3F879319681B
Date=2025-08-10;AP=22F76;BB=6.03.01;Machine=iPhone12,5
10:12:18 +0300 DST [clm] disconnect: duration=0;cause=kNoError;modemErr=16;rat=0
</string>
	<key>os_version</key>
	<string>iPhone OS 18.6 (22G86)</string>
	<key>system_ID</key>
	<string></string>
</dict>
</plist>
