<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SysInfoCrashReporterKey</key>
	<string>ccbbacd523074d99e60c57939f85a51b0adc5216</string>
	<key>bug_type</key>
	<string>195</string>
	<key>description</key>
	<string>Version=4
IncidentIdentifier=F62412F7-2A93-4C84-B068-33DFBCF35B10
Date=2025-05-16;AP=22E252;BB=6.02.02;Machine=iPhone12,5
</string>
	<key>os_version</key>
	<string>iPhone OS 18.4.1 (22E252)</string>
	<key>system_ID</key>
	<string></string>
</dict>
</plist>
