<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SysInfoCrashReporterKey</key>
	<string>ccbbacd523074d99e60c57939f85a51b0adc5216</string>
	<key>bug_type</key>
	<string>195</string>
	<key>description</key>
	<string>Version=4
IncidentIdentifier=AC3FEDAD-7F10-4856-B4BE-03FBCEE2D7A4
Date=2025-05-27;AP=22F76;BB=6.03.01;Machine=iPhone12,5
9:11:54 +0300 DST [clm] disconnect: duration=32;cause=kNoError;modemErr=16;rat=2
9:14:19 +0300 DST [clm] disconnect: duration=36;cause=kNoError;modemErr=16;rat=2
9:29:30 +0300 DST [clm] disconnect: duration=14;cause=kNoError;modemErr=16;rat=2
11:28:49 +0300 DST [clm] disconnect: duration=14;cause=kNoError;modemErr=16;rat=2
11:20:37 +0300 DST [clm] disconnect: duration=1;cause=kNoError;modemErr=16;rat=2
</string>
	<key>os_version</key>
	<string>iPhone OS 18.5 (22F76)</string>
	<key>system_ID</key>
	<string></string>
</dict>
</plist>
