<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SysInfoCrashReporterKey</key>
	<string>ccbbacd523074d99e60c57939f85a51b0adc5216</string>
	<key>bug_type</key>
	<string>195</string>
	<key>description</key>
	<string>Version=4
IncidentIdentifier=B3F4D876-1775-4133-9887-1D38E6DDDBE2
Date=2025-07-10;AP=22F76;BB=6.03.01;Machine=iPhone12,5
13:25:25 +0300 DST [rm] reset: reason=** baseband crash detected;uptime=0;count=1;
11:58:36 +0300 DST [rm] reset: reason=** baseband crash detected;uptime=0;count=2;
</string>
	<key>os_version</key>
	<string>iPhone OS 18.5 (22F76)</string>
	<key>system_ID</key>
	<string></string>
</dict>
</plist>
