<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SysInfoCrashReporterKey</key>
	<string>ccbbacd523074d99e60c57939f85a51b0adc5216</string>
	<key>bug_type</key>
	<string>195</string>
	<key>description</key>
	<string>Version=4
IncidentIdentifier=34C3FF8E-2181-48F3-8386-0CD5CF498726
Date=2025-04-20;AP=22D82;BB=6.01.01;Machine=iPhone12,5
12:47:43 +0300 DST [clm] disconnect: duration=440;cause=kNoError;modemErr=16;rat=0
12:49:33 +0300 DST [clm] disconnect: duration=75;cause=kNoError;modemErr=16;rat=0
15:19:26 +0300 DST [clm] disconnect: duration=0;cause=kNoError;modemErr=16;rat=2
10:28:48 +0300 DST [clm] disconnect: duration=83;cause=kNoError;modemErr=16;rat=2
</string>
	<key>os_version</key>
	<string>iPhone OS 18.3.2 (22D82)</string>
	<key>system_ID</key>
	<string></string>
</dict>
</plist>
