<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SysInfoCrashReporterKey</key>
	<string>ccbbacd523074d99e60c57939f85a51b0adc5216</string>
	<key>bug_type</key>
	<string>195</string>
	<key>description</key>
	<string>Version=4
IncidentIdentifier=382AF898-BC37-4806-A7B7-5E8BFC859EBA
Date=2025-05-02;AP=22E252;BB=6.02.02;Machine=iPhone12,5
16:02:03 +0300 DST [rm] reset: reason=** baseband crash detected;uptime=0;count=1;
</string>
	<key>os_version</key>
	<string>iPhone OS 18.4.1 (22E252)</string>
	<key>system_ID</key>
	<string></string>
</dict>
</plist>
