<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SysInfoCrashReporterKey</key>
	<string>ccbbacd523074d99e60c57939f85a51b0adc5216</string>
	<key>bug_type</key>
	<string>195</string>
	<key>description</key>
	<string>Version=4
IncidentIdentifier=53A50C5F-038D-457D-89B9-058064A7C685
Date=2025-04-27;AP=22E252;BB=6.02.02;Machine=iPhone12,5
10:52:40 +0300 DST [clm] disconnect: duration=24;cause=kNoError;modemErr=16;rat=2
19:32:44 +0300 DST [clm] disconnect: duration=269;cause=kNoError;modemErr=16;rat=2
19:38:23 +0300 DST [clm] disconnect: duration=13;cause=kNoError;modemErr=16;rat=2
17:31:56 +0300 DST [clm] disconnect: duration=17;cause=kNoError;modemErr=16;rat=2
</string>
	<key>os_version</key>
	<string>iPhone OS 18.4.1 (22E252)</string>
	<key>system_ID</key>
	<string></string>
</dict>
</plist>
