<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SysInfoCrashReporterKey</key>
	<string>ccbbacd523074d99e60c57939f85a51b0adc5216</string>
	<key>bug_type</key>
	<string>195</string>
	<key>description</key>
	<string>Version=4
IncidentIdentifier=2ACC9504-EEFF-435E-B686-69E65FF30D3F
Date=2025-04-30;AP=22E252;BB=6.02.02;Machine=iPhone12,5
8:54:05 +0300 DST [clm] disconnect: duration=0;cause=kNoError;modemErr=31;rat=2
9:01:47 +0300 DST [clm] disconnect: duration=12;cause=kNoError;modemErr=16;rat=2
9:51:57 +0300 DST [clm] disconnect: duration=0;cause=kNoError;modemErr=31;rat=2
9:56:42 +0300 DST [clm] disconnect: duration=13;cause=kNoError;modemErr=16;rat=2
10:18:19 +0300 DST [clm] disconnect: duration=0;cause=kNoError;modemErr=16;rat=2
</string>
	<key>os_version</key>
	<string>iPhone OS 18.4.1 (22E252)</string>
	<key>system_ID</key>
	<string></string>
</dict>
</plist>
